{% extends "notey_app/base.html" %}

{% block body_block %}
    <div class="tilted-book-main">
        <img src="static/pictures/" alt="">

    </div>

    <div class="dark-strip color_text">   
        <div class="strip_text_content">
            <h1>Welcome to <div class="logo-notey"></div></h1>
            <img class="logo_title" src="static/icons/notey.png" alt="Notey">
            <h3>your notes, your way</h3>
            <button class="big-button-basic"><a href="#">LOGIN</a></button>
        </div>    

        <div class="text-thingy">
            <img src="static/icons/text-thingy.png" alt="Text cursor icon">
        </div>
    </div>


{% endblock %}