{% extends 'notey_app/base.html' %}
{% load static %}
{% block body_block %}
<div class="draw-body">

    <div class="container-canvas patric-font color-text">

        <section class="tool-board">

            <div class="row">
                <label class="title-canvas"> shapes </label>
                <ul class="options-canvas">
                    <li class="option-canvas tool" id="rectangle">
                        <img src="/static/icons/rectangle.svg" alt="rectangle tool">
                        <span>rectangle</span>
                    </li>

                    <li class="option-canvas tool" id="circle">
                        <img src="/static/icons/circle.svg" alt="circle tool">
                        <span>circle</span>
                    </li>

                    <li class="option-canvas tool" id="triangle">
                        <img src="/static/icons/triangle.svg" alt="triangle tool">
                        <span>triangle</span>
                    </li>

                    <li class="option-canvas">
                        <input type="checkbox" id="fill-color">
                        <label for="fill-color" class="label-for-check">Fill color</label>
                    </li>
                </ul>
            </div>

              <div class="row">
                <label class="title-canvas"> options </label>
                <ul class="options-canvas">
                    <li class="option-canvas active tool" id="brush">
                        <img src="/static/icons/brush.svg" alt="brush tool">
                        <span>brush</span>
                    </li>

                    <li class="option-canvas tool" id="eraser">
                        <img src="/static/icons/eraser.svg" alt="eraser tool">
                        <span>eraser</span>
                    </li>

                    <li class="option-canvas">
                        <input type="range" id="size-slider" min="1" max="30" value="5">
                    </li>
                </ul>
            </div>

            <div class="row color">
                <label class="title-canvas"> colors </label>
                <ul class="options-canvas">
                    <li class="option-canvas">

                    </li>
                    <li class="option-canvas selected">

                    </li>
                    <li class="option-canvas ">

                    </li>
                    <li class="option-canvas">

                    </li>
                    <li class="option-canvas">

                    </li>

                    <li class="option-canvas">
                        <input type="color" id="color-picker" value="#f29999" >
                    </li>
                </ul>
            </div>

            <div class="row buttons">
                <button class="clear-canvas white-hvr">clear canvas</button>
                <button class="save-img white-hvr">save img</button>
            </div>
        </section>
        <section class="drawing-board">
          <canvas></canvas>
        </section>

    </div>

</div>


<script src="{% static 'js/canvas.js' %}" defer></script>

{%  endblock %}