@media (max-width: 35rem) {
/*Styling for navbar*/
    nav {
        background-color: #8AAEFF;
        padding: 0.1rem 0 0.1rem 2vw;
        overflow: hidden;
        padding-bottom: 0.5rem;
        position: sticky;
    }

    .logo_nav{
        max-height: 3rem;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav li a {
        text-decoration: none;
        color: white;
        margin: 0 3vw;
        font-size: 2.5rem;
        font-family: 'Patrick Hand', cursive;
        transition: all 0.5s ease-out;
    }

    nav li a:hover{
       -webkit-transition: text-shadow 0.5s ease-out;
       -moz-transition: text-shadow 0.5s ease-out;
       -o-transition: text-shadow 0.5s ease-out;
       transition: text-shadow 0.5s ease-out;
       text-shadow: 0px 0px 2px rgb(255, 255, 255);
       color: white;
    }

    nav .navbar-brand {
        font-size: 1.2rem;
        color: white;
        margin-right: auto; /* Push to the left */
    }
    /*This button is logout button in nav*/
    form button {
      text-decoration: none;
      color: white;
      margin: 0 3vw;
      font-size: 2.5rem;
      font-family: 'Patrick Hand', cursive;
      transition: all 0.5s ease-out;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      color: white;
    }

}