body{
    font-family: 'Patrick Hand', cursive;
}

.color_text{
    color: #545454;
}


.purple-body {
    background: #EEF2FF;
    padding: 0;
    margin: 0;
    height: 100vh;

}

.main-content-container {
    display: flex;

}

.dark-strip {
    padding: 10rem;
    background: #E5EBFF; 
    width: 70vw;
    height: 100vh;
    display: inline-flex;
}

.dark-strip h1{
    font-size: clamp(4rem, 6.4vw, 7.5rem);
}

.dark-strip h3{
    font-size: clamp(2.5rem, 2.8vw, 4rem);  
    margin: 2rem 0 8rem 0; 
}

nav {
    background-color: #8AAEFF;
    padding: 0.1rem 0 0.1rem 2vw; 
    overflow: hidden;
    padding-bottom: 0.5rem;
}

.logo_title{
    max-width: 17vw;
}

.logo_nav{
    max-height: 4rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-end; 
    align-items: center; /* Vertically center items */
}

nav li a {
    text-decoration: none; 
    color: white; 
    margin: 0 3vw; 
    font-size: 3.5rem;
    font-family: 'Patrick Hand', cursive;
}

nav li a:hover{
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    color: white;
}

nav .navbar-brand {
    font-size: 1.2rem; 
    color: white; 
    margin-right: auto; /* Push to the left */
}

.big-button-basic {
    padding: 0;
    background: #8AAEFF;
    border-radius: 80px;
    border-style: none;
    margin-left: 40%;
    font-size: 5rem;
    text-decoration: none;
    color: white;
    padding: 0 5rem;
}

.text-thingy{
    padding: 4vh 0 0 2vw;

}

.text-thingy img{
    max-height: 21rem;
}

.tilted-book-main{
    max-width: 40vw;
}

.tilted-book-main img{
    max-height: 85vh;
}

.patric-font{
    font-family: 'Patrick Hand', cursive;
}

.button-hvr:hover{
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
}

/*
About css
*/


.normal-text{
    font-size: 2em;
}

.smaller-text{
    font-size: 1.5rem;
}

.heading-medium{
    font-size: 5em;
}

.eewee-png{
    max-height: 35vh;
}

.eewee-meet{
    display: flex;
    margin: 5vh 3vw;
}

.heading-meet{
    font-size: 4rem;
}

.meet{
    background: white;
    border-radius: 50px 40px 40px 0;
    height: fit-content;
    padding: 1rem 2rem;
}

.main-container{
    display:flex;
}

.left-strip{
    margin:0;
    padding: 10rem;
    background: #E5EBFF;
    width: 55vw;
}

.second-strip{
    justify-content: center;
    padding: 20vh 2rem 5rem 2rem;
    text-align: center;
    width: 45vw;
    height: 100%;
}

.normal-button-basic{
    padding: 0rem 4rem;
    font-size: 4rem;
    color: white;
    background: #8AAEFF;
    border-radius: 80px;
    border-style: none;
    font-family: 'Patrick Hand', cursive;
}

.reg-text{
    padding: 5rem 0 0 0;
}

.lgn-text{
    padding: 2rem 0 5rem 0;
    font-size: 3rem;
}

/*login*/

.smaller-btn{
    font-size: 3rem;
}

.plus{
    height: 4rem;
    padding: 0 1rem 0.8rem 0;
}

form label{
    display: block;
}

form input:focus{
	outline: 4px solid #b7cbf7;
	outline-offset: -2px;
}

form input{
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    background: white;
    color: #545454;

}

.login_heading{
    padding: 4rem 0 3rem 0;
}