body{
    font-family: 'Patrick Hand', cursive;
}

.color_text{
    color: #545454;
}

.purple-body {
    background: #EEF2FF;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.main-content-container {
    display: flex;
}

.horizontal-dark-strip{
    padding: 5rem;
    background: #E5EBFF;
}

.dark-strip {
    padding: 10rem;
    background: #E5EBFF; 
    width: 70vw;
    height: 100vh;
    display: inline-flex;
}

.dark-strip h1{
    font-size: clamp(4rem, 6.4vw, 7.5rem);
}

.dark-strip h3{
    font-size: clamp(2.5rem, 2.8vw, 4rem);  
    margin: 2rem 0 8rem 0; 
}

nav {
    background-color: #8AAEFF;
    padding: 0.1rem 0 0.1rem 2vw; 
    overflow: hidden;
    padding-bottom: 0.5rem;
}

.logo_title{
    max-width: 17vw;
}

.logo_nav{
    max-height: 4rem;
}

form button {
  text-decoration: none;
  color: white;
  margin: 0 3vw;
  font-size: 3.5rem;
  font-family: 'Patrick Hand', cursive;
  transition: all 0.5s ease-out;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: flex-end; 
    align-items: center; /* Vertically center items */
}

nav li a {
    text-decoration: none; 
    color: white; 
    margin: 0 3vw; 
    font-size: 3.5rem;
    font-family: 'Patrick Hand', cursive;
    transition: all 0.5s ease-out;
}

nav li a:hover{
   -webkit-transition: text-shadow 0.5s ease-out;
   -moz-transition: text-shadow 0.5s ease-out;
   -o-transition: text-shadow 0.5s ease-out;
   transition: text-shadow 0.5s ease-out;
   text-shadow: 0px 0px 2px rgb(255, 255, 255);
   color: white;
}

nav .navbar-brand {
    font-size: 1.2rem; 
    color: white; 
    margin-right: auto; /* Push to the left */
}

.big-button-basic {
    padding: 0;
    background: #8AAEFF;
    border-radius: 80px;
    border-style: none;
    margin-left: 40%;
    font-size: 5rem;
    text-decoration: none;
    color: white;
    padding: 0 5rem;
    transition: all 0.5s ease-out;
}

.text-thingy{
    padding: 4vh 0 0 2vw;

}

.text-thingy img{
    max-height: 21rem;
}

.tilted-book-main{
    max-width: 40vw;
}

.tilted-book-main img{
    max-height: 85vh;
    padding: 3rem;
}

.strip_text_content{
    margin-left: 6rem;
}

.patric-font{
    font-family: 'Patrick Hand', cursive;
}

.button-hvr:hover{
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    -webkit-transition: text-shadow 0.5s ease-out;
    -moz-transition: text-shadow 0.5s ease-out;
    -o-transition: text-shadow 0.5s ease-out;
    transition: text-shadow 0.5s ease-out;
}

.hands-picture{
    width: 57vw;
    overflow: hidden;
}

/*
About css
*/


.normal-text{
    font-size: 2em;
}

.smaller-text{
    font-size: 1.5rem;
}

.heading-medium{
    font-size: clamp(2.5rem, 4.5vw, 6.5rem);
    white-space: nowrap;
}

.eewee-png{
    max-height: 35vh;
}

.eewee-meet{
    display: flex;
    margin: 5vh 3vw;
}

.heading-meet{
    font-size: 4rem;
}

.meet{
    background: white;
    border-radius: 50px 40px 40px 0;
    height: fit-content;
    padding: 1rem 2rem;
}

.main-container{
    display:flex;
}

.left-strip{
    margin:0;
    padding: 8%;
    background: #E5EBFF;
    width: 55vw;
}
/* for using in home.html*/
.smaller-width{
    width: 40vw;
}

.second-strip{
    justify-content: center;
    padding: 20vh 2rem 5rem 2rem;
    text-align: center;
    width: 45vw;
    height: 100%;
}

.normal-button-basic{
    padding: 0rem 4rem;
    font-size: 4rem;
    color: white;
    background: #8AAEFF;
    border-radius: 80px;
    border-style: none;
    font-family: 'Patrick Hand', cursive;
    transition: all 0.5s ease-out;
}

.reg-text{
    padding: 5rem 0 0 0;
}

.lgn-text{
    padding: 2rem 0 5rem 0;
    font-size: 3rem;
}

/*login*/

.smaller-btn{
    font-size: 3rem;
    transition: all 0.5s ease-out;
}

.plus{
    height: 4rem;
    padding: 0 1rem 0.8rem 0;
}

form label{
    display: block;
}

form input:focus{
	outline: 4px solid #b7cbf7;
	outline-offset: -2px;
}

form input{
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    background: white;
    color: #545454;

}

.login_heading{
    padding: 4rem 0 3rem 0;
}

/* logout */

.logout_text{
    font-size: 5rem;
    padding: 4rem 0 ;
}

.bunny-big{
    width: 18rem;
    padding: 4rem 0;
}

.logout-goodbye{
    background: white;
    width: 30vw;
    margin: auto;
    width: 25vw;
    border-radius: 8px;
}

.logout-goodbye p{
    font-size: 4rem;
    white-space: no-wrap;
    padding: 0rem 2rem;
}

/*mood*/
.horizontal-dark-strip h1{
    font-size: 4rem;
}

.mood-roller{
    border: 3px solid #545454;
    color: #545454;
    background: white;
    padding: 0 2rem;
    font-size: 3rem;

}

.form_mood{
    display: inline-flex;
}

.eewee-mood-title{
    margin: 1rem 5rem 0 0;
}

.invisible-btn{
    border: none;
    background: none;
}

.invisible-btn img{
    width: 4.5rem;
    margin: 0 0 20px 4rem;
}

/* Advice */

.advice{
    padding: 3rem ;
    background: white;
    margin: 1rem 15vw;
}

.bunny_advice{
    margin-top: 8vh;
    width: 20vw;
}