{% extends "notey_app/base.html" %}

{% block body_block %}
    <div class="purple-body main-container color_text patric-font">
        <div class="left-strip">

            <h1 class="heading-medium">What is NOTEY</h1>
            <p class="normal-text"> Notey is your own personal journal. <br>
                You can write anything you feel like writing down. <br>
                As a bonus, you will always have patient and cute company! <br>
                Meet Eewee!</p>
            <div class="eewee-meet">
                <img class="eewee-png" src="/static/ewe/playful.PNG" alt="Eewee bunny playfull">
                <h2 class="heading-meet meet">Hi there!</h2>
            </div>
        </div>
    </div>



{% endblock %}