{% extends "notey_app/base.html" %}

{% block body_block %}
    <div class="purple-body main-container color_text patric-font">

        <div class="left-strip">

            <h1 class="heading-medium">What is NOTEY ?</h1>
            <p class="normal-text"> Notey is a personal journal for anyone.<br>
                Notes? Diary? Learning? You can write everything you feel like writing!<br>
                As a bonus, you will always have patient and cute company! <br>
                Meet Eewee!</p>

                <div class="eewee-meet">
                    <img class="eewee-png" src="/static/ewe/playful.PNG" alt="Eewee bunny playfull">
                    <h2 class="heading-meet meet">Hellooo</h2>
                </div>

        </div>

        <div class="second-strip">

            <p class="normal-text lgn-text"> All you have to do is login!</p>

            <a href="#"><button class="normal-button-basic button-hvr">Login</button></a>
            <p class="normal-text reg-text">Don't have account yet?<br> It's okay! <a href="#">Register</a> and start writing!</p>

        </div>

    </div>



{% endblock %}