{% extends "notey_app/base.html" %}

{% block body_block %}
<div class="main-content-container">

    {% if user.is_authenticated %}

         <div class="left-strip smaller-width">
            <h1 class="heading-medium ">Welcome back,<br>{{ user.username }}</h1>
                <div class="eewee-meet">
                    <img class="eewee-png" src="/static/ewe/playful.PNG" alt="Eewee bunny playfull">
                </div>
         </div>

        <div class="hands-pic-restrict p-0">
            <img class="hands-picture" src="/static/pictures/hands.PNG" alt="Hands writing into notebook with pen">
        </div>

    {% else %}

        <div class="tilted-book-main">
            <img src="static\pictures\notey_tilted.png" alt="Notey book closed">
        </div>

        <div class="dark-strip color_text patric-font">
            <div class="strip_text_content">
                <h1>Welcome to</h1>
                <img class="logo_title" src="static/icons/notey.png" alt="Notey">
                <h3>your notes, your way</h3>
                <a href="{% url 'login' %}"><button class="big-button-basic button-hvr patric-font" type="submit">LOGIN</button></a>
            </div>

            <div class="text-thingy">
                <img src="static/icons/text-thingy.png" alt="Text cursor icon">
            </div>
        </div>

    {% endif %}

</div>

{% endblock %}