{% extends "notey_app/base.html" %}

{% block body_block %}

    <div class="color_text patric-font text-center normal-text d-grid gap-4">

        <div class="horizontal-dark-strip">
            <h1 class="mood-greet">How are you feeling today, {{ user.username }}?</h1>
        </div>

        <div >
            <img class="eewee-png  eewee-mood-title" src="/static/ewe/surprise.PNG" alt="Eewee bunny surpised">

            <form class="form-mood" method="post" action="{% url 'notey_app:mood_advice' %}">
                {% csrf_token %}

                <div class="form_mood">
                            <label class="heading-meet" for="mood">Mood:</label>

                    <select class="mood-roller" id="mood" name="mood">
                        <option value=""></option>
                        {% for choice in mood_choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>

                </div>
                <button class="invisible-btn" type="submit"><img src="/static/icons/btn.png"></button>
            </form>

        </div>

    </div>

{% endblock %}

<--! TODO cant upload empty form-->