{% extends "notey_app/base.html" %}

{% block body_block %}

<div class="color_text patric-font form-delete text-center normal-text">

    <form class="" method="post">
        {% csrf_token %}

        <div class="form-delete-content">

            <p class="bigger-text py-4">Are you sure you want to delete " {{ object }} " note?</p>
            <!-- the 'object' is created automatically by deleting -->

            <input type="submit" class="button-blue white-hvr ms-0 me-4" value="Confirm">

            <a href="{% url 'notey_app:note_detail' pk=object.pk %}" class="button-pink white-hvr me-0 ms-4">Cancel</a>

        </div>

    </form>

</div>

{% endblock %}