{% extends "notey_app/base.html" %}

{% block body_block %}

<div class="color_text patric-font base-container normal-text">
    <div>
        <a class="hover-pink ms-5 text-decoration-none" href="{% url 'notey_app:all_notes' %}">
            <img class="back-icon me-2 " src="/static/icons/back-pink.png" alt="Go back to all notes arrow">
                 all my notes
        </a>
    </div>


    <div class="note">

        <div class="gr-line">
            <p class="text-start fs-4">Created on: {{ object.create_date|date:"j.n.Y" }}</p>
            <h1 class="text-center">{{ object.title }}</h1>
        </div>

        <p>
            {{ object.text|safe|linebreaksbr }}
        </p>

        <div class="bar-button text-center ">

            <a class="button-pink white-hvr" href="{% url 'notey_app:note_delete' pk=object.pk %}">
                <img class="cross-s-icon me-2 mb-1" src="/static/icons/cross-white.png" alt="delete cross icon">
                    delete
            </a>

            <a class="button-edit white-hvr" href="{% url 'notey_app:note_edit' pk=object.pk %}">
                <img class="cross-s-icon me-2 mb-1" src="/static/icons/edit.png" alt="delete cross icon">
                    edit note
            </a>
        </div>

    </div>

</div>

{% endblock %}