{% extends "notey_app/base.html" %}

{% block body_block %}

<div class="color_text patric-font register-form normal-text">

    <form class="note-form" method="POST">
        {% csrf_token %}
            <div class="area-devide">

                <div class="area-1">
                     <img class="eewee-png" src="/static/ewe/fine.PNG" alt="Eewee bunny playfull">
                </div>

                <div class="area-2">
                    <div class="one-row">
                        <div class="form-field-s">
                            {{ form.category.label_tag }}
                            {{ form.category }}
                        </div>
                        <div class="form-field-s">
                            {{ form.create_date.label_tag }}
                            {{ form.create_date }}
                        </div>
                    </div>

                    {{ form.title.label_tag }}
                    {{ form.title }}

                    {{ form.text.label_tag }}
                    {{ form.text }}
                </div>

                <div class="area-3">
                    <input type="hidden" id="username_field" value="{{ user.id }}">
                    <button type="submit" name="button"><img class="save-check-btn" src="/static/icons/btn.png" alt="check-save button"></button>
                </div>

            </div>
    </form>
</div>

<script>
    var name= "{{ user.id }}";
    document.getElementById("username_field").value = name;
</script>

<!--editable is class in form.py for medium editor -->
<script>
    var editor = new MediumEditor('.editable');
</script>

{% endblock %}