{% extends "notey_app/base.html" %}

{% block body_block %}

<div class="color_text patric-font normal-text">
    <div class="note-list"></div>
    <h1 class=" text-center mt-5 mb-3"> {{user.username}}s notes </h1>

    {% if user_has_notes %}
         <table>
                  <thead class="gray-zone text-center container">
                    <tr >
                        <th class="head-table col-md-auto">category</th>
                        <th class="head-table col-8">title</th>
                        <th class="head-table col">date</th>
                    </tr>
                  </thead>

                <tbody>
                 {% for n in object_list %}
                     <tr class="clickable-row" data-href="{% url 'notey_app:note_detail' pk=n.pk %}">
                        <td>
                                {% if n.category|length > 40 %}
                                    {{ n.category|slice:":40"|safe|linebreaksbr  }}...
                                {% else %}
                                    {{ n.category|safe|linebreaksbr }}
                                {% endif %}
                         </td>
                         <td>
                            <h2>
                                {% if n.title|length > 70 %}
                                    {{ n.title|slice:":70"|safe|linebreaksbr  }}...
                                {% else %}
                                    {{ n.title|safe|linebreaksbr }}
                                {% endif %}
                            </h2>
                         </td>
                          <td>
                            {{ n.create_date|date:"j.n.Y" }}
                          </td>
                     </tr>
                 </tbody>
                {% endfor %}
         </table>

    {% else %}
        <p> You don't have any notes yet! </p>
    {% endif %}

</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const rows = document.querySelectorAll(".clickable-row");
    rows.forEach(function (row) {
      row.addEventListener("click", function () {
        window.location.href = this.dataset.href;
      });
    });
  });
</script>

{% endblock %}